
<div class="row col-lg-offset-2 col-lg-8">
<h2>Setting</h2>
<alert ng-if="success" type="success" close="closeAlert()">
  Setting Changed!
</alert>
  <form role="form" name="form.settingForm" ng-submit="changeSetting(setting)" novalidate>
    <label class="control-label">Max Disk Space(GB)</label>
    <div class="form-group">
      <input class="form-control"
        name="limitDiskSpace"
        type="number"
        placeholder="Example 20"
        ng-model="setting.limitDiskSpace"
        required
      />
    </div>
    <button type="submit" ng-disabled="form.settingForm.$invalid" class="btn btn-success">Change Setting</button>
  </form>
</div>
